@mixin fjalla {
	font-family: 'Fjalla One', sans-serif;
	font-weight:400;
}

@mixin montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
@mixin garamond {
	font-family: 'garamond_oldstyle_fsregular', 'Georgia', serif;
}