@mixin fjalla {
	font-family: 'Fjalla One', sans-serif;
	font-weight:400;
}

@mixin montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
@mixin garamond {
	font-family: 'garamond_oldstyle_fsregular', 'Georgia', serif;
}

//Media Queries
@mixin media($size) {
	@if $size == xsmall {
		@media (max-width: 479px) { @content; }
	}
	@else if $size == small {
		@media (min-width: 480px) and (max-width: 767px) { @content; }
	}
	@else if $size == medium {
		@media (min-width: 768px) and (max-width: 991px) { @content; }
	}
	@else if $size == large {
		@media (min-width: 992px) and (max-width: 1199px) { @content; }
	}
	@else if $size == xlarge {
		@media (min-width: 1200px) { @content; }
	}
}