@import 'shared';

$footer-height: 80px;

html, body {
	height: 100%;
}

body {
  background-color: $bg_black;
  padding: 0;
  padding-bottom: $footer-height;
  overflow-x: hidden;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// ============================= TITLE SECTION =============================
.title-container {
	text-align: center;
	color: white;
	overflow: hidden;

	.video-overlay {
		height: 300px;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		
		h1 {
			@include fjalla;
			text-transform:uppercase;
			letter-spacing:10px;
			font-size:87px;
			line-height:80%;
			margin-top:20px;
			margin-bottom:20px;
			span {
				@include sans_serif;
				font-size:30px;
				letter-spacing:5px;
			}
		}
		.loading-container {
			@include sans_serif;
			font-size:30px;
			letter-spacing:5px;
			img {
				width:186px;
			}
		}
	}

	.learn-more {
		position: absolute;
		bottom: 120px;
		width: 100%;
		h3 {
			@include montserrat;
			text-transform:uppercase;
			font-size:12px;
			letter-spacing:1px;
		}
	}

	video{
		position: absolute; top: 0; left: 0;
		width: 100%; height: auto; overflow:hidden;  z-index: -100;
		// background: url(polina.jpg) no-repeat;
		// background-size: cover;
	}	
}

// =========================== WHO WE ARE SECTION ============================
.who-we-are {
	width: 80%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	color: white;
	overflow:visible !important;

	.who-top-left, .who-top-right, .who-bottom-left, .who-bottom-right {
		float: left;
		position: relative;
	}
	.who-top-left, .who-bottom-left {
		width: 40%;
	}
	.who-top-right, .who-bottom-right {
		width: 60%;
		
	}

	.who-top-left {
		margin-top: 55px;
		h2, h3 {
			padding-left: 20px;
			padding-right: 20px;
		}
		h2 {
			@include fjalla;
			font-size:80px;
			letter-spacing:2px;
			line-height:100%;
			margin-top:0px;
			margin-bottom:20px;
			span {
				@include pathway;
				letter-spacing:0px;
				line-height:90%;
			}
		}
		h3 {
			@include garamond;
			font-size:32px;
			text-transform:uppercase;
			letter-spacing:5px;
			line-height:95%;
			margin:0px;
		}
	}
	.who-top-right {
		position:relative;
		margin-top: 125px;
		text-align: center;
		box-shadow: inset 0px 0px 0px 1px #fff;
		-webkit-box-shadow: inset 0px 0px 0px 1px #fff;
		overflow:visible !important;
		
		h3 {
			padding:0 20px;
			margin:10px 0;
			&.desire {
				@include montserrat_bold;
				font-size:45px;
				letter-spacing:3px;
				padding-top:50px;
			}
			&.communicate {
				width:65%;
				text-align:right;
				padding-top:30px;
				padding-right:60px;
				background-image: url('/images/bubble.png');
				background-repeat:no-repeat;
				background-position:top right;
				
				@include pathway;
				font-size:40px;
				letter-spacing:7px;
				text-transform:uppercase;
			}
			&.share {
				width:60%;
				text-align:right;
				padding-bottom:50px;
				
				@include garamond;
				font-size:50px;
				letter-spacing:10px;
				text-transform:uppercase;
			}
		}
		img.connect {
			position:absolute;
			right:-50px;
			bottom:-200px;
		}
	}
	.who-bottom-left {
		margin-top: 200px;
		text-align: center;
	}
	.who-bottom-right {
		margin-top: 270px;
		text-align: center;
	}
	h3.from {
		@include garamond;
		font-size:32px;
		letter-spacing:10px;
		text-transform:uppercase;
		line-height:100%;
		margin:20px 0;
	}
	h3.to {
		@include montserrat;
		font-size:32px;
		letter-spacing:3px;
		text-transform:uppercase;
		margin:15px 0 20px 0;
	}
	.center-x {
		img {
			width:16px;
		}
	}

	.border-lines {
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
		width: 127px;

		border-top: 1px solid white;
		border-bottom: 1px solid white;

	}

	.silhouette {
		margin-top: 25px;
		width: 100%;
		height: 200px;
		background-color: black;
	}
}



// ===========================  STORY SECTION ================================
#canvas-wrapper {
	width: 100%;
	position: relative;
	margin-top: 75px;
	margin-bottom: 75px;

	color: white;
	text-align: center;

	#canvas {
		position: relative;
		padding: 5px; 
		height: 550px; 
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 25px;
		margin-top: 20px;
	}

	.story-top-right, .story-top-left, .story-bottom-left, .story-bottom-right {
		position: absolute;
		display: none;
	}

	.story-title {
		position: absolute;
		width: 100%;
		h3 {
			@include pathway;
			font-size:50px;
			letter-spacing:3px;
			text-transform:uppercase;
			margin-bottom:5px;
		}
		h2 {
			@include montserrat_bold;
			font-size:50px;
			letter-spacing:3px;
			text-transform:uppercase;
			margin-top:0px;
		}
	}

	.story-top-right {
		left: 50%;
		top: 200px;
		padding-right: 42px;
		overflow: hidden;
	
		.story-top-right-inner {
			margin-left: -100%;
			border: 2px solid white;
			border-left: none;
			padding-left: 20px;
			padding-right: 20px;
			width: 100%;
			-webkit-transition: all 1s ease-in-out;
			-moz-transition: all 1s ease-in-out;
			-o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
			p {
				@include pathway;
				font-size:37px;
				letter-spacing:5px;
				text-transform:uppercase;
				margin:10px 0;
				span {
					@include montserrat;
				}
			}
		}
	}

	.story-top-left {
		right: 50%;
		top: 190px;
		padding-right: 100px;
		width: 500px;
		font-size: 15px;
		text-align: left;
		p {
			@include garamond;
			font-size:24px;
			letter-spacing:3px;
		}
	}

	.story-bottom-left {
		right: 50%;
		top: 330px;
		margin-right: 200px;
		h3 {
			@include pathway;
			font-size:66px;
			letter-spacing:3px;
			text-transform:uppercase;
			margin:10px 0;
		}
		h2 {
			@include montserrat;
			font-size:50px;
			letter-spacing:3px;
			text-transform:uppercase;
			margin:10px 0;
		}
	}

	.story-bottom-right {
		text-align: left;
		left: 50%;
		top: 350px;
		margin-left: 40px;
		p {
			@include garamond;
			font-size:24px;
			letter-spacing:5px;
			margin:0;
		}
		h3 {
			@include pathway;
			font-size:70px;
			letter-spacing:5px;
			line-height:77%;
			margin:0;
		}
	}

	.story-bottom-message {
		@include garamond;
		text-align: center;
		font-size:24px;
		letter-spacing:3px;
		line-height:200%;

		.highlight {
			color: #32b0c6;
		}
	}
}

.final-section {
	margin-bottom: $footer-height;
	text-align: center;
	
	background-color: white;


	.logo-container {
		padding: 20px;
		padding-right: 10%;
		text-align: right;

		.logo {
			height: 40px;
			width: 40px;
		}
	}

	p {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		@include garamond;
		font-size:24px;
		letter-spacing:3px;
		line-height:200%;
	}
	
	h2 {
		@include montserrat_bold;
		font-size:32px;
		letter-spacing:3px;
	}
	
	.email-form {
		position: relative;
		display:block;
		width:26%;
		float:left;
		text-align:center;
		margin:0px 37%;

		input[type="text"] {
			position: relative;
			width:100%;
			height:46px;
			margin:5px 0;
			padding:0px 10px;
			@include  fields_full;
		}
		button[type="submit"] {
			position: relative;
			width:50%;
			height:52px;
			margin:5px 0;
			padding:0px 10px;
			@include button;
		}
		
		.error-message {
			@include error_footer;
		}
	}

	.social-media-container {

	}
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	z-index: 99999;

	border-top: 2px solid white;
	background: url('/images/white90.png');
	background-repeat: repeat;
	.footer-container {
		width:95%;
		margin:0px auto;
		.progress-container {
			position: relative;
			width: 100%;

			.progress-default, .progress {
				position: absolute;
				height: 3px;
			}
			.progress-default {
				background-color: $lightgrey;
				width: 100%;
				z-index: 1;

				.progress-node {
					height: 10px;
					width: 10px;
					background-color: lightgray;
					border: 3px solid white;
					border-radius: 50%;
					margin-top: -6px;
					margin-left: 24.1%;
					float: left;
					z-index: 3;
				}
				.progress-node-x {
					position: absolute;
					left: -10px;
					font-weight: bolder;
					top: -9px;
					color: #32b0c6;
					img {
						width:21px;		
					}
				}
			}
			.progress {
				background-color: #32b0c6;
				z-index: 2;
			}
		}
		
		.signup-container {
			position: relative;
			width: 40%;
			margin:0px auto;
			text-align:center;
			padding: 17px 0 0 0;
			
			h3 {
				float:left;
				margin-right:30px;
				@include montserrat_bold;
				font-size:15px;
				letter-spacing:1px;
				text-transform:uppercase;
				color:$text_black;
				
			}

			.email-form {
				position: relative;
				float:left;
		
				input[type="text"] {
					position: relative;
					width:35%;
					height:46px;
					float:left;
					margin:0px;
					padding:0px 10px;
					@include fields;
				}
				button[type="submit"] {
					position: relative;
					width:20%;
					height:52px;
					float:left;
					margin:0px;
					padding:0px 10px;
					@include button;
				}
				
				.error-message {
					@include error_footer;
				}
			}
		}
	}
}