@import 'shared';
@import 'env';

$footer-height: 80px;

html, body {
	height: 100%;
}

body {
  width: 100%;
  min-width:970px !important;
  background-color: $bg_black;
  padding: 0;
  padding-bottom: $footer-height;
  overflow-x: hidden;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// ============================= General =============================
.content-container {
	position:relative;
	width: 100%;
	max-width: 1280px;
	min-width:970px;
	margin-left: auto;
	margin-right: auto;
}

section,.title-container {
	position:relative;
	width: 100%;
	min-width:970px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
}

// ============================= TITLE SECTION =============================
.title-container {
	text-align: center;
	color: white;
	overflow: hidden;

	.video-overlay {
		height: 400px;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		
		h1 {
			@include fjalla;
			text-transform:uppercase;
			letter-spacing:10px;
			font-size:87px;
			line-height:80%;
			margin-top:20px;
			margin-bottom:20px;
			span {
				@include sans_serif;
				font-size:30px;
				letter-spacing:5px;
			}
		}
		.loading-container {
			@include sans_serif;
			font-size:30px;
			letter-spacing:5px;
			img {
				width:186px;
			}
		}
	}

	.learn-more {
		position: absolute;
		bottom: 120px;
		width: 100%;
		a {
			color:#fff;
			text-decoration:none;
			width:150px;
			height:150px;
			h3 {
				@include montserrat;
				text-transform:uppercase;
				font-size:12px;
				letter-spacing:1px;
			}
		}
	}

	video#bgvid{
		position: fixed; right: 0; bottom: 0;
		min-width: 100%; min-height: 100%;
		width: auto; height: auto; z-index: -100;
		background-size: cover;
		overflow:hidden;
	}	
}

// =========================== WHO WE ARE SECTION ============================

.who-top-left, .who-top-right, .who-bottom-left, .who-bottom-right {
		float: left;
		position: relative;
}
.who-top-left {
	width: 40%;
}
.who-top-right {
	width: 58%;
	margin-right:2%;
}

.who-bottom-left {
	width: 45%;
	margin-left:5%;
}

.who-bottom-right {
	width: 50%;
}
	
.who-we-are {
	position:relative;
	width:100%;
	display:block;
	height:1300px;
	background-color: #fff;
	background-image: url('#{$cdn}/images/stars.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
	color:#fff;
	overflow-x: hidden;
	.who-top-left {
		margin-top: 100px;
		h2, h3 {
			padding-left: 20px;
			padding-right: 20px;
		}
		h2 {
			@include fjalla;
			font-size:80px;
			letter-spacing:2px;
			line-height:100%;
			margin-top:0px;
			margin-bottom:20px;
			span {
				@include pathway;
				letter-spacing:0px;
				line-height:90%;
			}
		}
		h3 {
			@include garamond;
			font-size:32px;
			text-transform:uppercase;
			letter-spacing:5px;
			line-height:95%;
			margin:0px;
		}
	}
	.who-top-right {
		position:relative;
		margin-top: 170px;
		text-align: center;
		box-shadow: inset 0px 0px 0px 1px #fff;
		-webkit-box-shadow: inset 0px 0px 0px 1px #fff;

		h3 {
			padding:0 20px;
			margin:10px 0;
			&.desire {
				@include montserrat_bold;
				font-size:45px;
				letter-spacing:3px;
				padding-top:50px;
			}
			&.communicate {
				width:65%;
				text-align:right;
				padding-top:30px;
				padding-right:40px;
				background-image: url('#{$cdn}/images/bubble.png');
				background-repeat:no-repeat;
				background-position:top right;
		
				@include pathway;
				font-size:35px;
				letter-spacing:7px;
				text-transform:uppercase;
			}
			&.share {
				width:60%;
				text-align:right;
				padding-bottom:50px;
		
				@include pathway;
				font-size:50px;
				letter-spacing:10px;
				text-transform:uppercase;
			}
		}
		img.connect {
			position:absolute;
			right:-50px;
			bottom:-200px;
		}
	}
	
	.who-bottom-left {
		margin-top: 50px;
		text-align: center;
	}
	.who-bottom-right {
		margin-top: 120px;
		text-align: center;
	}
	h3.from {
		@include garamond;
		font-size:32px;
		letter-spacing:10px;
		text-transform:uppercase;
		line-height:100%;
		margin:20px 0;
	}
	h3.to {
		@include montserrat;
		font-size:32px;
		letter-spacing:3px;
		text-transform:uppercase;
		margin:15px 0 20px 0;
	}
	.center-x {
		img {
			width:16px;
		}
	}

	.border-lines {
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		width: 127px;

		border-top: 1px solid white;
		border-bottom: 1px solid white;

	}
	.silhouette-bg {
		position:absolute;
		bottom:0px;
		width:100%;
		height:560px;
		background-image: url('#{$cdn}/images/mountain-range.png');
		background-repeat:no-repeat;
		background-position:center bottom;
		z-index:3;
	}
}



// ===========================  STORY SECTION ================================
#canvas-wrapper {
	width: 100%;
	position: relative;
	padding-top:150px;
	padding-bottom: 150px;
	color: white;
	text-align: center;
	
	background-image: url('#{$cdn}/images/car.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
	#canvas {
		position: relative;
		float:left;
		margin-bottom:30px;
		padding: 5px 0; 
		height: 750px; 
		width: 100%;
	}
	
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 25px;
		margin-top: 20px;
	}

	.story-top-right, .story-top-left, .story-bottom-left, .story-bottom-right {
		position: absolute;
		display: none;
	}

	.story-title {
		position: absolute;
		width: 100%;
		h3 {
			@include pathway;
			font-size:60px;
			letter-spacing:3px;
			text-transform:uppercase;
			margin-bottom:5px;
		}
		h2 {
			@include montserrat_bold;
			font-size:50px;
			letter-spacing:3px;
			line-height:55px;
			text-transform:uppercase;
			margin-top:0px;
		}
	}

	.story-top-right {
		width:45%;
		left: 50%;
		top: 250px;
		padding-right: 42px;
		overflow: hidden;
	
		.story-top-right-inner {
			position:relative;
			width: 100%;
			height: inherit;
			display:inline-block;
			margin-left: -100%;
			border: 3px solid #fff;
			border-left: none;
			padding-left: 20px;
			padding-right: 0px;
			-webkit-transition: all .5s ease-in-out;
			-moz-transition: all .5s ease-in-out;
			-o-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
			td.story-top-right-text {
				p {
					@include pathway;
					font-size:25px;
					letter-spacing:5px;
					text-transform:uppercase;
					margin:10px 0;
					span {
						@include montserrat;
					}
				}
			}
			td.story-top-right-img {
				border-left:2px solid #fff;
				vertical-align: center;				
				text-align:center;
				img {
					display:block;
					width:70%;
					height:auto !important;
					margin:0px auto;
					padding-left:8%;
					@include media(xlarge) {
						width:70px;
						padding-left:30px;
					}
				}
			}
		}
	}

	.story-top-left {
		width:47%;
		right: 50%;
		top: 240px;
		padding-right: 1%;
		padding-left: 2%;
		font-size: 15px;
		text-align: left;
		p {
			@include garamond;
			font-size:21px;
			letter-spacing:3px;
		}
	}

	.story-bottom-left {
		right: 47%;
		top: 380px;
		margin-right: 200px;
		h3 {
			@include pathway;
			font-size:50px;
			letter-spacing:3px;
			text-transform:uppercase;
			margin:10px 0;
		}
		h3.energy {
			&::before {
				content: url('#{$cdn}/images/bolt-L.png');
				padding-right:10px;
			}
			&::after {
				content: url('#{$cdn}/images/bolt-R.png');
				padding-left:10px;
			}
		}
		p {
			font-size:24px;
		}
		h2 {
			@include montserrat;
			font-size:50px;
			letter-spacing:3px;
			text-transform:uppercase;
			margin:10px 0;
		}
	}

	.story-bottom-right {
		text-align: left;
		left: 50%;
		top: 470px;
		margin-left: 20px;
		p {
			@include garamond;
			font-size:21px;
			letter-spacing:5px;
			margin:0;
		}
		h3 {
			@include pathway;
			font-size:50px;
			letter-spacing:5px;
			line-height:77%;
			margin:0;
		}
	}
	.story-bottom-message {
		@include garamond;
		text-align: center;
		font-size:24px;
		letter-spacing:3px;
		line-height:200%;

		.highlight {
			
		}
	}
}

.final-section {
	height:750px;
	//margin-bottom: $footer-height;

	text-align: center;
	
	background-color: white;
	background-image: url('#{$cdn}/images/beach2.jpg');
	background-position:bottom center;
	background-repeat:no-repeat;
	background-size:cover;
	.content-container {
		padding-top:20px;
		.logo-container {
			padding: 20px 0 0 0;
			padding-right: 10%;
			text-align: right;

			.logo {
				height: 85px;
				width: 85px;
			}
		}

		p {
			width: 60%;
			margin: 0 auto 40px auto;
			@include garamond;
			font-size:21px;
			letter-spacing:3px;
			color:$text_black;
		}

		p.coming {
			@include montserrat;
			font-size:14px;
			text-transform:uppercase;
			text-decoration:underline;
			
		}
	
		h2 {
			@include montserrat_bold;
			font-size:21px;
			text-transform:uppercase;
			letter-spacing:3px;
			color:$text_black;
			margin-top:50px;
		}
	
		.email-form {
			position: relative;
			display:block;
			width:50%;
			float:left;
			text-align:center;
			margin:0px 25%;

			input[type="text"] {
				position: relative;
				display:inline-block;
				width:50%;
				height:52px;
				float:left;
				margin:5px 0;
				padding:0px 5%;
				@include fields;
			}
			input[name="username"] {
			border-right:solid 3px $blue !important;
			}
			button[type="submit"] {
				position: relative;
				display:inline-block;
				width:20%;
				height:52px;
				margin:5px 0;
				padding:0px 10px;
				@include button;
			}
			.error-container {
				
				.error-message {
					@include error_footer;
				}
			}
		}

		.social-media-container {

		}


	}
	.legal {
		position: absolute;
		width: 100%;
		right: 20px;
		bottom: 100px;
		z-index: 1000;
		text-align: right;
		a {
			padding:5px 15px;
			color:#fff;
			font-size:10px;
			letter-spacing:1px;
			text-transform:uppercase;
		}
		a.privacy {
			text-decoration: none;
			border-top: solid 3px #fff;
			border-bottom: solid 3px #fff;
			border-left: solid 3px #fff;
			border-right: solid 1px #fff;
			@include montserrat;
			&:hover {
				background:#222;
				-webkit-transition: all ease-out .2s;
				-moz-transition: all ease-out .2s;
				-o-transition:all ease-out .2s;
				transition: all ease-out .2s;
			}
		}
		a.terms {
			text-decoration: none;
			border-top: solid 3px #fff;
			border-bottom: solid 3px #fff;
			border-right: solid 3px #fff;
			@include montserrat;
			&:hover {
				background:#222;
				-webkit-transition: all ease-out .2s;
				-moz-transition: all ease-out .2s;
				-o-transition:all ease-out .2s;
				transition: all ease-out .2s;
			}
		}
	}
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	z-index: 99999;

	border-top: 2px solid white;
	background: url('#{$cdn}/images/white90.png');
	background-repeat: repeat;

	.thanks,.privacy,.terms {
		display:none;
	}

	.footer-container {
		width: 100%;
		max-width: 1400px;
		min-width:970px;
		margin:0px auto;
		.progress-container {
			position: relative;
			width: 100%;

			.progress-default, .progress {
				position: absolute;
				height: 3px;
			}
			.progress-default {
				background-color: $lightgrey;
				width: 100%;
				z-index: 1;

				.progress-node {
					height: 10px;
					width: 10px;
					background-color: lightgray;
					border: 3px solid white;
					border-radius: 50%;
					margin-top: -6px;
					margin-left: 24%;
					float: left;
					z-index: 3;
				}
				.progress-node-x {
					position: absolute;
					left: -10px;
					font-weight: bolder;
					top: -9px;
					color: #32b0c6;
					img {
						width:21px;		
					}
				}
				.progress-node-last {
					height: 10px;
					width: 10px;
					background-color: lightgray;
					border: 3px solid white;
					border-radius: 50%;
					margin-top: -6px;
					float:right;
					z-index: 3;
				}
			}
			.progress {
				background-color: #32b0c6;
				z-index: 2;
			}
		}
		
		.signup-container {
			position: relative;
			float:left;
			width:75%;
			margin:0px;
			padding: 12px 0 0 0;
			
			h4 {
				width:38%;
				margin-top:15px;
				margin-right:2%;
				float:left;
				@include montserrat_bold;
				font-size:15px;
				letter-spacing:1px;
				text-align:right;
				text-transform:uppercase;
				color:$text_black;
				
			}

			.email-form {
				width:60%;
				position: relative;
				float:right;
		
				input[type="text"] {
					position: relative;
					width:35%;
					height:46px;
					float:left;
					margin:0px;
					padding:0px 10px;
					@include fields;
				}
				button[type="submit"] {
					position: relative;
					width:20%;
					height:46px;
					float:left;
					margin:0px;
					padding:0px 10px;
					@include button;
				}
				
				.error-message {
					@include error_footer;
				}
			}
		}
		.social {
			position: relative;
			float:left;
			text-align:right;
			width:24%;
			margin:0px 1% 0 0;
			padding: 17px 0 0 0;
		}
	}
}



/**
	MODAL CODE
**/
.modal-backdrop {
	background-color: #fff !important;
	z-index: 1500;
	&.in {
		opacity: 0.95 !important;
		
	}
}

.modal {
	z-index: 1501;
}

.modal-dialog {	
	width: 80%;
	margin: 30px 10% 30px 10%;
	@include media(xsmall) {
		width: 90%;
		margin: 10px 5% 30px 5%;
	}
	@include media(small) {
		width: 90%;
		margin: 10px 5% 30px 5%;
	}
	button.close {
		font-size:50px;
		z-index:100;
	}
	.modal-content {
		background: none ;
		box-shadow:none ;
		border:none;
		border-radius: none;
		.modal-header {
			border:none;

		}
		.modal-body {
			@include media(xsmall) {
				margin-top: 0 !important;
			}
		}
	}
}

#reserveModal {
	.modal-header {
		display:block;
		height:50px;
	}
	.modal-body {
		margin-top:50px;
		padding-left:10px;
		padding-right:10px;
		h1 {
			@include fjalla;
			font-size:32px;
			color:#222;
			text-transform:uppercase;
			padding-bottom:20px;
			@include media(xsmall) {
				font-size:27px;
			}
		}
		input {
			height:50px;
			width: 35%;
			@include montserrat;
			padding:5px 10px;
			&::-webkit-input-placeholder {
			  text-transform:uppercase;
			}

			&:-moz-placeholder { /* Firefox 18- */
			  text-transform:uppercase;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   text-transform:uppercase;
			}

			&:-ms-input-placeholder {  
			   text-transform:uppercase; 
			}
			@include media(xsmall) {
				width:90%;
				margin-top:5px;
			}
			@include media(small) {
				width:90%;
				margin-top:5px;
			}
			@include media(medium) {
				width:70%;
				margin-top:5px;
			}
		}
		input.email-input {
			margin-bottom: 5px;
		}
		button {
			display:block;
			clear:both;
			height:50px;
			margin:20px auto;
			padding: 12px 30px;
			background:#3fafc4;
			color:#fff;
			border:0px !important;
			text-transform: uppercase;
			@include montserrat;
			font-size:16px;
			&:hover { 
				background-color:#222;
				-webkit-transition: background-color ease-out .2s;
				-moz-transition: background-color ease-out .2s;
				-o-transition: background-color ease-out .2s;
				transition: background-color ease-out .2s;
			}
		}
		.error-message {
			font-size:16px;
			letter-spacing:1px;
			&.success {
				padding: 30px 40px;
				color: white;
				background-color: #14B254;
				display: block;
				width: 35%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
		}
		.social-container {
			width: 35%;
			margin-left: auto;
			margin-right: auto;
			text-align: left;
		}
		.error-message, .social-container {
			-webkit-transition: all 500ms ease-out 1s;
		    -moz-transition: all 500ms ease-out 1s;
		    -o-transition: all 500ms ease-out 1s;
		    transition: all 500ms ease-out 1s;
		}
	}
}


#privacyModal, #termsModal {
	.modal-header {
		display:block;
		height:50px;
	}
	.modal-body {
		width:100%;
		max-width:625px;
		margin:0px auto;
		h1 {
			@include fjalla;
			letter-spacing:3px;
			text-transform:uppercase;
			margin-bottom:50px;
		}
		h2 {
			@include fjalla;
			letter-spacing:3px;
			text-transform:uppercase;
		}
		h3 {
			text-transform: uppercase;
			@include montserrat;
			margin-top:60px;
			padding-bottom:10px;
			border-bottom:solid 1px #222;
		}
		p {
			text-align:justify !important;
			strong {
				text-transform: uppercase;
				@include montserrat;
			}
		}
	}
}