extends layout

block content

	include ga.html

	article.main
		header.top-image
			img.tt(src="images/v2/TTT-circle.png",alt="Two Thousand Times")

		main.text
			hgroup.intro
				h1 Almost Nothing Captivates Us<br/>Like a Well Told Story.
				div.line
				h2 the 
					span Two Thousand Times 
					| is a social storytelling platform.
			section.stories
				p Epic stories come from strangers, and there needs to be a place to share them. <br/>
					| It is our mission to connect the world through the medium of storytelling.

		section.join
			div.buttons
				a.reserve(href="#reserve", data-toggle="modal", data-target="#reserveModal")
					span.big Reserve
					br			
					span.small your username

				a.learn-more(href="#learn", data-toggle="modal", data-target="#learnModal")
					span.big Learn More



		div.clearfix

	section.footer
		a.privacy(href="#privacy", data-toggle="modal", data-target="#privacyModal") Privacy
		a.terms(href="#terms", data-toggle="modal", data-target="#termsModal") Terms


	div.modal.fade#reserveModal(tabindex="-1",role="dialog",aria-labelledby="reserveModalLabel",aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
				div.modal-body
					h1 Reserve your username.
					form.email-form
						input.email-input(type="text", name="email", placeholder="Email")
						input(type="text", name="username", placeholder="Username")
						button(type="submit") Submit
						div.error-container
						span.error-message

	div.modal.fade#learnModal(tabindex="-1",role="dialog",aria-labelledby="learnModalLabel",aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
				div.modal-body
					h2 Every Life is a Story Waiting to be Heard
					p The desire to leave our mark, to communicate, to share.<br/>
						| It turns strangers into friends, it's where we learn, it builds community. <br/>
						| Until today, no one forum existed.

					div.line

					p After a successful private beta, we're making some changes for a full scale launch.

					h3 No One Can Tell Someone Else's Story
						|<br/> &
						|<br/> Somewhere is a story that you were a part of making.

					div.float-right
						span.stay-tuned Where writers & readers meet...
						img.ttt(src="images/v2/signoff.png", alt="The Two Thousand Times")

	div.modal.fade#privacyModal(tabindex="-1",role="dialog",aria-labelledby="privacyModalLabel",aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
				div.modal-body
					include privacy.html

	div.modal.fade#termsModal(tabindex="-1",role="dialog",aria-labelledby="termsModalLabel",aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
				div.modal-body
					include terms.html

	script.
		window.cdn = '#{cdn}';  
	script(src="#{cdn}/javascripts/modernizr.min.js")
	script(src="//code.jquery.com/jquery-1.11.0.min.js")
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
	script(src="#{cdn}/javascripts/lightbox.min.js")
	script(src="#{cdn}/javascripts/index2.js")


