doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/compiled/index.css')
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:400,700|Pathway+Gothic+One|EB+Garamond' rel='stylesheet' type='text/css'>
    
  body
    block content