doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/compiled/index.css')
    link(href='http://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:400,700|Pathway+Gothic+One|EB+Garamond', rel='stylesheet', type='text/css')
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")

    
  body
    block content