| Welcome #{person},
| Your desired username has been successfully reserved! 
| We’ll send you one final confirmation email prior to launch to activate your account. 
| You will have 2 weeks to log in before your username goes back up for grabs. 
| We look forward to having you! 
| Thanks,
| - The Two Thousand Times 
| http://facebook.com/twothousandtimes
| http://twitter.com/twothousandx'