html, body {
  height: 100%; }

body {
  width: 100%;
  min-width: 970px !important;
  background-color: #161515;
  padding: 0;
  padding-bottom: 80px;
  overflow-x: hidden;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.content-container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  min-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

section, .title-container {
  position: relative;
  width: 100%;
  min-width: 970px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden; }

.title-container {
  text-align: center;
  color: white;
  overflow: hidden; }
  .title-container .video-overlay {
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .title-container .video-overlay h1 {
      font-family: 'Fjalla One', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 87px;
      line-height: 80%;
      margin-top: 20px;
      margin-bottom: 20px; }
      .title-container .video-overlay h1 span {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 100;
        font-size: 30px;
        letter-spacing: 5px; }
    .title-container .video-overlay .loading-container {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 100;
      font-size: 30px;
      letter-spacing: 5px; }
      .title-container .video-overlay .loading-container img {
        width: 186px; }
  .title-container .learn-more {
    position: absolute;
    bottom: 120px;
    width: 100%; }
    .title-container .learn-more a {
      color: #fff;
      text-decoration: none; }
      .title-container .learn-more a h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px; }
  .title-container video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden; }

.who-top-left, .who-top-right, .who-bottom-left, .who-bottom-right {
  float: left;
  position: relative; }

.who-top-left, .who-bottom-left {
  width: 40%; }

.who-top-right, .who-bottom-right {
  width: 60%; }

.who-we-are {
  position: relative;
  width: 100%;
  display: block;
  height: 1300px;
  background-color: #fff;
  background-image: url('/images/stars.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  overflow-x: hidden; }
  .who-we-are .who-top-left {
    margin-top: 100px; }
    .who-we-are .who-top-left h2, .who-we-are .who-top-left h3 {
      padding-left: 20px;
      padding-right: 20px; }
    .who-we-are .who-top-left h2 {
      font-family: 'Fjalla One', sans-serif;
      font-weight: 400;
      font-size: 80px;
      letter-spacing: 2px;
      line-height: 100%;
      margin-top: 0px;
      margin-bottom: 20px; }
      .who-we-are .who-top-left h2 span {
        font-family: 'Pathway Gothic One', sans-serif;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 90%; }
    .who-we-are .who-top-left h3 {
      font-family: 'EB Garamond', serif;
      font-weight: 400;
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 95%;
      margin: 0px; }
  .who-we-are .who-top-right {
    position: relative;
    margin-top: 170px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px #fff;
    -webkit-box-shadow: inset 0px 0px 0px 1px #fff; }
    .who-we-are .who-top-right h3 {
      padding: 0 20px;
      margin: 10px 0; }
      .who-we-are .who-top-right h3.desire {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 45px;
        letter-spacing: 3px;
        padding-top: 50px; }
      .who-we-are .who-top-right h3.communicate {
        width: 65%;
        text-align: right;
        padding-top: 30px;
        padding-right: 60px;
        background-image: url('/images/bubble.png');
        background-repeat: no-repeat;
        background-position: top right;
        font-family: 'Pathway Gothic One', sans-serif;
        font-weight: 400;
        font-size: 40px;
        letter-spacing: 7px;
        text-transform: uppercase; }
      .who-we-are .who-top-right h3.share {
        width: 60%;
        text-align: right;
        padding-bottom: 50px;
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-size: 50px;
        letter-spacing: 10px;
        text-transform: uppercase; }
    .who-we-are .who-top-right img.connect {
      position: absolute;
      right: -50px;
      bottom: -200px; }
  .who-we-are .who-bottom-left {
    margin-top: 50px;
    text-align: center; }
  .who-we-are .who-bottom-right {
    margin-top: 120px;
    text-align: center; }
  .who-we-are h3.from {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    text-transform: uppercase;
    line-height: 100%;
    margin: 20px 0; }
  .who-we-are h3.to {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 15px 0 20px 0; }
  .who-we-are .center-x img {
    width: 16px; }
  .who-we-are .border-lines {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 127px;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  .who-we-are .silhouette-bg {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 560px;
    background-image: url('/images/silhouette.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 3; }

#canvas-wrapper {
  width: 100%;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
  text-align: center;
  background-image: url('/images/car.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  #canvas-wrapper #canvas {
    position: relative;
    float: left;
    margin-bottom: 30px;
    padding: 5px 0;
    height: 750px;
    width: 100%; }
  #canvas-wrapper h2 {
    font-size: 30px; }
  #canvas-wrapper h3 {
    font-size: 25px;
    margin-top: 20px; }
  #canvas-wrapper .story-top-right, #canvas-wrapper .story-top-left, #canvas-wrapper .story-bottom-left, #canvas-wrapper .story-bottom-right {
    position: absolute;
    display: none; }
  #canvas-wrapper .story-title {
    position: absolute;
    width: 100%; }
    #canvas-wrapper .story-title h3 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-weight: 400;
      font-size: 60px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 5px; }
    #canvas-wrapper .story-title h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 60px;
      letter-spacing: 3px;
      line-height: 55px;
      text-transform: uppercase;
      margin-top: 0px; }
  #canvas-wrapper .story-top-right {
    width: 45%;
    left: 50%;
    top: 250px;
    padding-right: 42px;
    overflow: hidden; }
    #canvas-wrapper .story-top-right .story-top-right-inner {
      position: relative;
      width: 100%;
      height: inherit;
      display: inline-block;
      margin-left: -100%;
      border: 2px solid #fff;
      border-left: none;
      padding-left: 20px;
      padding-right: 0px;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      #canvas-wrapper .story-top-right .story-top-right-inner td.story-top-right-text p {
        font-family: 'Pathway Gothic One', sans-serif;
        font-weight: 400;
        font-size: 37px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 10px 0; }
        #canvas-wrapper .story-top-right .story-top-right-inner td.story-top-right-text p span {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400; }
      #canvas-wrapper .story-top-right .story-top-right-inner td.story-top-right-img {
        border-left: 2px solid #fff;
        vertical-align: center;
        text-align: center; }
        #canvas-wrapper .story-top-right .story-top-right-inner td.story-top-right-img img {
          width: 50px;
          height: auto;
          padding-left: 21px;
          margin: 0px auto; }
  #canvas-wrapper .story-top-left {
    width: 45%;
    right: 50%;
    top: 240px;
    padding-right: 2.5%;
    padding-right: 2.5%;
    font-size: 15px;
    text-align: left; }
    #canvas-wrapper .story-top-left p {
      font-family: 'EB Garamond', serif;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 3px; }
  #canvas-wrapper .story-bottom-left {
    right: 50%;
    top: 380px;
    margin-right: 200px; }
    #canvas-wrapper .story-bottom-left h3 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-weight: 400;
      font-size: 66px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 10px 0; }
    #canvas-wrapper .story-bottom-left h3.energy::before {
      content: url('/images/bolt-L.png');
      padding-right: 10px; }
    #canvas-wrapper .story-bottom-left h3.energy::after {
      content: url('/images/bolt-R.png');
      padding-left: 10px; }
    #canvas-wrapper .story-bottom-left h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 50px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 10px 0; }
  #canvas-wrapper .story-bottom-right {
    text-align: left;
    left: 50%;
    top: 470px;
    margin-left: 40px; }
    #canvas-wrapper .story-bottom-right p {
      font-family: 'EB Garamond', serif;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 5px;
      margin: 0; }
    #canvas-wrapper .story-bottom-right h3 {
      font-family: 'Pathway Gothic One', sans-serif;
      font-weight: 400;
      font-size: 70px;
      letter-spacing: 5px;
      line-height: 77%;
      margin: 0; }
  #canvas-wrapper .story-bottom-message {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 200%; }

.final-section {
  height: 800px;
  margin-bottom: 80px;
  text-align: center;
  background-color: white;
  background-image: url('/images/beach2.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover; }
  .final-section .content-container {
    padding-top: 20px; }
    .final-section .content-container .logo-container {
      padding: 20px 0 0 0;
      padding-right: 10%;
      text-align: right; }
      .final-section .content-container .logo-container .logo {
        height: 85px;
        width: 85px; }
    .final-section .content-container p {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      font-family: 'EB Garamond', serif;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 3px;
      line-height: 200%;
      color: #222; }
      .final-section .content-container p img.footer-logo {
        width: 255px;
        height: auto; }
    .final-section .content-container h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 3px;
      color: #222; }
    .final-section .content-container .email-form {
      position: relative;
      display: block;
      width: 26%;
      float: left;
      text-align: center;
      margin: 0px 37%; }
      .final-section .content-container .email-form input[type="text"] {
        position: relative;
        width: 90%;
        height: 46px;
        margin: 5px 0;
        padding: 0px 5%;
        border-top: solid 3px #32b1c6 !important;
        border-right: solid 3px #32b1c6 !important;
        border-bottom: solid 3px #32b1c6 !important;
        border-left: solid 3px #32b1c6 !important;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 100;
        font-size: 16px;
        text-transform: lowercase;
        letter-spacing: 1px;
        color: #222; }
      .final-section .content-container .email-form button[type="submit"] {
        position: relative;
        width: 50%;
        height: 52px;
        margin: 5px 0;
        padding: 0px 10px;
        background-color: #32b1c6 !important;
        border-top: 0px !important;
        border-right: 0px !important;
        border-bottom: solid 3px #238484 !important;
        border-left: 0px !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px; }
      .final-section .content-container .email-form .error-container .error-message {
        position: absolute;
        text-align: center;
        width: 100%;
        top: -30px;
        right: 0px;
        background-color: #f74141;
        color: #fff;
        z-index: 10 !important; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 99999;
  border-top: 2px solid white;
  background: url('/images/white90.png');
  background-repeat: repeat; }
  .footer .footer-container {
    width: 100%;
    max-width: 1400px;
    min-width: 970px;
    margin: 0px auto; }
    .footer .footer-container .progress-container {
      position: relative;
      width: 100%; }
      .footer .footer-container .progress-container .progress-default, .footer .footer-container .progress-container .progress {
        position: absolute;
        height: 3px; }
      .footer .footer-container .progress-container .progress-default {
        background-color: #aaa;
        width: 100%;
        z-index: 1; }
        .footer .footer-container .progress-container .progress-default .progress-node {
          height: 10px;
          width: 10px;
          background-color: lightgray;
          border: 3px solid white;
          border-radius: 50%;
          margin-top: -6px;
          margin-left: 24%;
          float: left;
          z-index: 3; }
        .footer .footer-container .progress-container .progress-default .progress-node-x {
          position: absolute;
          left: -10px;
          font-weight: bolder;
          top: -9px;
          color: #32b0c6; }
          .footer .footer-container .progress-container .progress-default .progress-node-x img {
            width: 21px; }
        .footer .footer-container .progress-container .progress-default .progress-node-last {
          height: 10px;
          width: 10px;
          background-color: lightgray;
          border: 3px solid white;
          border-radius: 50%;
          margin-top: -6px;
          float: right;
          z-index: 3; }
      .footer .footer-container .progress-container .progress {
        background-color: #32b0c6;
        z-index: 2; }
    .footer .footer-container .signup-container {
      position: relative;
      float: left;
      width: 75%;
      margin: 0px;
      padding: 17px 0 0 0; }
      .footer .footer-container .signup-container h4 {
        width: 38%;
        margin-rith: 2%;
        float: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1px;
        text-align: right;
        text-transform: uppercase;
        color: #222; }
      .footer .footer-container .signup-container .email-form {
        width: 60%;
        position: relative;
        float: right; }
        .footer .footer-container .signup-container .email-form input[type="text"] {
          position: relative;
          width: 35%;
          height: 46px;
          float: left;
          margin: 0px;
          padding: 0px 10px;
          border-top: solid 3px #32b1c6 !important;
          border-right: 0px !important;
          border-bottom: solid 3px #32b1c6 !important;
          border-left: solid 3px #32b1c6 !important;
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: 100;
          font-size: 16px;
          text-transform: lowercase;
          letter-spacing: 1px;
          color: #222; }
        .footer .footer-container .signup-container .email-form button[type="submit"] {
          position: relative;
          width: 20%;
          height: 52px;
          float: left;
          margin: 0px;
          padding: 0px 10px;
          background-color: #32b1c6 !important;
          border-top: 0px !important;
          border-right: 0px !important;
          border-bottom: solid 3px #238484 !important;
          border-left: 0px !important;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          font-size: 16px;
          letter-spacing: 1px; }
        .footer .footer-container .signup-container .email-form .error-message {
          position: absolute;
          text-align: center;
          width: 100%;
          top: -30px;
          right: 0px;
          background-color: #f74141;
          color: #fff;
          z-index: 10 !important; }
    .footer .footer-container .social {
      position: relative;
      float: left;
      text-align: right;
      width: 24%;
      margin: 0px 1% 0 0;
      padding: 17px 0 0 0; }
